<a href="https://colab.research.google.com/github/envirodatascience/final-project-pargoal-kei-team/blob/main/final_project_pargoal_kei.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [10]:
url = "https://raw.githubusercontent.com/envirodatascience/final-project-pargoal-kei-team/refs/heads/main/site%20(2).csv?token=GHSAT0AAAAAADBSGQPNCBBRTU5T4ZCP6JT2Z7WXOVA"
df = pd.read_csv(url)

In [11]:
df.head()

,Org_Identifier,Org_FormalName,Location_Identifier,Location_Name,Location_Type,Location_Description,Location_State,Location_CountryName,Location_CountyName,Location_CountryCode,...,AlternateLocation_IdentifierA,AlternateLocation_IdentifierContextA,AlternateLocation_IdentifierB,AlternateLocation_IdentifierContextB,AlternateLocation_IdentifierC,AlternateLocation_IdentifierContextC,ProviderName,LocationAttachment_FileName,LocationAttachment_FileType,LocationAttachment_FileDownload
0,USGS,U.S. Geological Survey,USGS-02358900,DRY CREEK,Stream,NaN,Florida,United States of America,Jackson County,US,...,NaN,NaN,NaN,NaN,NaN,NaN,USGS,NaN,NaN,NaN
1,USGS,U.S. Geological Survey,USGS-02266200,"WHITTENHORSE CREEK NEAR VINELAND, FL",Stream,NaN,Florida,United States of America,Orange County,US,...,NaN,NaN,NaN,NaN,NaN,NaN,USGS,NaN,NaN,NaN
2,USGS,U.S. Geological Survey,USGS-02266239,"TROUT LAKE NEAR CLERMONT, FL","Lake, Reservoir, Impoundment",NaN,Florida,United States of America,Lake County,US,...,NaN,NaN,NaN,NaN,NaN,NaN,USGS,NaN,NaN,NaN
3,USGS,U.S. Geological Survey,USGS-02266298,"REEDY CREEK ABOVE HW-192 NEAR VINELAND, FL",Stream,NaN,Florida,United States of America,Orange County,US,...,NaN,NaN,NaN,NaN,NaN,NaN,USGS,NaN,NaN,NaN
4,USGS,U.S. Geological Survey,USGS-02266300,"REEDY CREEK NEAR VINELAND, FL",Stream,NaN,Florida,United States of America,Osceola County,US,...,NaN,NaN,NaN,NaN,NaN,NaN,USGS,NaN,NaN,NaN

In [12]:
df.Location_Type.value_counts()

Location_Type
Well                                 13921
Stream                                2658
Lake, Reservoir, Impoundment          1031
Estuary                                745
Canal                                  686
Spring                                 259
Water-distribution system              125
Ditch                                   83
Atmosphere                              70
Coastal                                 57
Test hole not completed as a well       35
Excavation                              32
Hyporheic-zone well                     26
Wastewater land application             20
Storm sewer                             19
Wetland                                 17
Wastewater sewer                        15
Water-supply treatment plant            14
Outfall                                 12
Ocean                                   11
Waste injection well                    10
Tidal stream                             9
Wastewater-treatment plant               9
Sinkhole                                 9
Diversion                                6
Multiple wells                           5
Aggregate groundwater use                5
Outcrop                                  5
Water-use establishment                  3
Interconnected wells                     2
Tunnel, shaft, or mine                   2
Groundwater drain                        1
Aggregate surface-water-use              1
Collector or Ranney type well            1
Golf course                              1
Landfill                                 1
Name: count, dtype: int64